 <h1>候選人列表</h1>

  <%= link_to "新增候選人", new_book_path %>

  <table>
    <thead>
      <tr>
        <td>書名</td>
        <td>作者姓名</td>
        <td>簡介</td>
        <td>售價</td>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.introduction %></td>
        <td><%= book.price %></td>
      </tr>
      <% end %>
    </tbody>
  </table>