<h1>新增書籍</h1>

  <%= form_for(@book) do |f| %>
    <%= f.label :name, "姓名" %>
    <%= f.text_field :name %> <br />

    <%= f.label :price, "售價" %>
    <%= f.text_field :price %> <br />

    <%= f.label :author, "作者" %>
    <%= f.text_field :author %> <br />

    <%= f.label :introduction, "簡介" %>
    <%= f.text_area :introduction %> <br />

    <%= f.submit %>
  <% end %>

  <br />
  <%= link_to '回書籍列表', library_path %>